In [2]:
import pandas as pd 
import numpy as np

In [3]:
product=pd.read_csv('amazon_baby.csv')

In [4]:
product.head()

,name,review,rating
0,Planetwise Flannel Wipes,"These flannel wipes are OK, but in my opinion ...",3
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5

#  Removing Punctuation

In [5]:
import string
table = str.maketrans(dict.fromkeys(string.punctuation))
def remove_punc(s):
    return str(s).translate(table)

In [6]:
product['review_clean'] = product['review'].apply(remove_punc)
product.head()

,name,review,rating,review_clean
0,Planetwise Flannel Wipes,"These flannel wipes are OK, but in my opinion ...",3,These flannel wipes are OK but in my opinion n...
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5,it came early and was not disappointed i love ...
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5,Very soft and comfortable and warmer than it l...
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5,This is a product well worth the purchase I h...
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5,All of my kids have cried nonstop when I tried...

# Extract Sentiments

In [7]:
product = product[product['rating'] != 3]
product['sentiment'] = product['rating'].apply(lambda rating : +1 if rating > 3 else -1)
product.head()

,name,review,rating,review_clean,sentiment
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5,it came early and was not disappointed i love ...,1
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5,Very soft and comfortable and warmer than it l...,1
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5,This is a product well worth the purchase I h...,1
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5,All of my kids have cried nonstop when I tried...,1
5,Stop Pacifier Sucking without tears with Thumb...,"When the Binky Fairy came to our house, we did...",5,When the Binky Fairy came to our house we didn...,1

# Importing Json file for train and test indices

In [230]:
import json
with open('module-2-assignment-test-idx.json') as test_data_file:    
    test_data_idx = json.load(test_data_file)
with open('module-2-assignment-train-idx.json') as train_data_file:    
    train_data_idx = json.load(train_data_file)
train_data = product.iloc[train_data_idx]
train_data.head(2)
test_data = product.iloc[test_data_idx]
test_data.head(2)

,name,review,rating,review_clean,sentiment
9,"Baby Tracker&reg; - Daily Childcare Journal, S...",This has been an easy way for my nanny to reco...,4,This has been an easy way for my nanny to reco...,1
10,"Baby Tracker&reg; - Daily Childcare Journal, S...",I love this journal and our nanny uses it ever...,4,I love this journal and our nanny uses it ever...,1

In [231]:
train_data.head()

,name,review,rating,review_clean,sentiment
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5,it came early and was not disappointed i love ...,1
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5,Very soft and comfortable and warmer than it l...,1
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5,This is a product well worth the purchase I h...,1
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5,All of my kids have cried nonstop when I tried...,1
5,Stop Pacifier Sucking without tears with Thumb...,"When the Binky Fairy came to our house, we did...",5,When the Binky Fairy came to our house we didn...,1

In [232]:
test_data.head()

,name,review,rating,review_clean,sentiment
9,"Baby Tracker&reg; - Daily Childcare Journal, S...",This has been an easy way for my nanny to reco...,4,This has been an easy way for my nanny to reco...,1
10,"Baby Tracker&reg; - Daily Childcare Journal, S...",I love this journal and our nanny uses it ever...,4,I love this journal and our nanny uses it ever...,1
16,Nature's Lullabies First Year Sticker Calendar,"I love this little calender, you can keep trac...",5,I love this little calender you can keep track...,1
20,Nature's Lullabies Second Year Sticker Calendar,I had a hard time finding a second year calend...,5,I had a hard time finding a second year calend...,1
28,"Lamaze Peekaboo, I Love You","One of baby's first and favorite books, and it...",4,One of babys first and favorite books and it i...,1

# Bag of words feature

In [233]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(token_pattern=r'\b\w+\b')
     # Use this token pattern to keep single-letter words
# First, learn vocabulary from the training data and assign columns to words
# Then convert the training data into a sparse matrix
train_matrix = vectorizer.fit_transform(train_data['review_clean'])
# Second, convert the test data into a sparse matrix, using the same word-column mapping
test_matrix = vectorizer.transform(test_data['review_clean'])

# learning model using logistic regression

In [234]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(train_matrix, train_data['sentiment'])

/home/sikander/venv/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [235]:
pred_of_train=lr.predict(train_matrix)
print (pred_of_train)

[1 1 1 ... 1 1 1]

*Quiz question*: How many weights are >= 0?

In [238]:
np.sum(lr.coef_ >=0)

90269

# Predictions on test set

In [239]:
pred_of_test=lr.predict(test_matrix)

In [240]:
print(pred_of_test)

[1 1 1 ... 1 1 1]

In [241]:
sample_test_data = test_data.iloc[[10,11,12],:]
print (sample_test_data)

                                                 name  \
59                          Our Baby Girl Memory Book
71  Wall Decor Removable Decal Sticker - Colorful ...
91  New Style Trailing Cherry Blossom Tree Decal R...

                                               review  rating  \
59  Absolutely love it and all of the Scripture in...       5
71  Would not purchase again or recommend. The dec...       2
91  Was so excited to get this product for my baby...       1

                                         review_clean  sentiment
59  Absolutely love it and all of the Scripture in...          1
71  Would not purchase again or recommend The deca...         -1
91  Was so excited to get this product for my baby...         -1

In [242]:
sample_test_data['sentiment']

59    1
71   -1
91   -1
Name: sentiment, dtype: int64

In [243]:
sample_test_data.iloc[[0]]

,name,review,rating,review_clean,sentiment
59,Our Baby Girl Memory Book,Absolutely love it and all of the Scripture in...,5,Absolutely love it and all of the Scripture in...,1

# Predicting scores of the sample_test_data

In [244]:
sample_test_matrix = vectorizer.transform(sample_test_data['review_clean'])

scores = lr.decision_function(sample_test_matrix)
print (scores)

[  5.18478898  -3.36126263 -11.02766021]

In [245]:
import math
for i in scores:
    print (1/(1+math.exp(-i)))

0.9944300793366202
0.033528284609057324
1.6245794855965773e-05

*Quiz question*: Of the three data points in sample_test_data, which one (first, second, or third) has the lowest probability of being classified as a positive review?

In [246]:
scores = lr.decision_function(test_matrix)
print (scores)

[ 2.48997086 15.65013135  2.97978538 ... 10.93442873 11.48415181
  4.64736751]

In [247]:
probab=[[]]
k=-1
for i in scores:
     k=k+1
#      print(test_data.iloc[[k],0:1])   
     probab.append([(1/(1+math.exp(-i))),k])

In [248]:
probab.sort(reverse=True)

In [250]:
for i in range(0,20):
    print(test_data.iloc[[i],0:1])

                                                name
9  Baby Tracker&reg; - Daily Childcare Journal, S...
                                                 name
10  Baby Tracker&reg; - Daily Childcare Journal, S...
                                              name
16  Nature's Lullabies First Year Sticker Calendar
                                               name
20  Nature's Lullabies Second Year Sticker Calendar
                           name
28  Lamaze Peekaboo, I Love You
                           name
36  Lamaze Peekaboo, I Love You
                           name
37  Lamaze Peekaboo, I Love You
                                          name
41  SoftPlay Giggle Jiggle Funbook, Happy Bear
                                                 name
43  SoftPlay Peek-A-Boo Where's Elmo A Children's ...
                                                 name
56  Baby's First Year Undated Wall Calendar with S...
                         name
59  Our Baby Girl Memory Book
                                                 name
71  Wall Decor Removable Decal Sticker - Colorful ...
                                                 name
91  New Style Trailing Cherry Blossom Tree Decal R...
                                                  name
112  Newborn Baby Tracker&reg; - Round the Clock Ch...
                                                  name
115  Large Jungle Animals (Panda, Lion, Elephant, G...
                                                  name
116  Edu-Petit Happy Jungle Day Finger Puppet Book ...
                                                  name
120  Modern House Giraffe Children Height Measureme...
                                                  name
123  Modern House Safari Animal Family removable Vi...
                                                  name
129  Neurosmith - Music Blocks with Mozart Music Ca...
                                 name
135  Milestones, Kids' Step Stone Kit

*Quiz Question*: Which of the following products are represented in the 20 most positive reviews?

In [145]:
probab.sort()
for i in range(0,21):
    print(probab[i])

[]
[1.6338081070907922e-15, 17069]
[2.8273179497756936e-15, 2931]
[2.4478594255771446e-13, 21700]
[7.191852897219175e-13, 28184]
[4.3928254076655006e-11, 8818]
[9.319918482951685e-11, 9655]
[1.5285471359941464e-10, 14711]
[1.723765244974194e-10, 17222]
[1.9378550038371712e-10, 31928]
[1.997754657799436e-10, 30373]
[2.389832061794857e-10, 10814]
[3.153173783478574e-10, 13752]
[3.942305964529196e-10, 13939]
[4.407662840705423e-10, 17034]
[5.462395490462284e-10, 205]
[5.886262614345596e-10, 17428]
[9.811340712232767e-10, 20594]
[1.1247145338703817e-09, 28120]
[1.1829567331746294e-09, 1942]
[1.4633968897685647e-09, 21020]

*Quiz Question*: Which of the following products are represented in the 20 most negative reviews?

In [211]:
from sklearn.metrics import accuracy_score
accuracy_score(test_data['sentiment'],pred_of_test)

0.9322654187664987

In [212]:
accuracy_score(train_data['sentiment'],pred_of_train)

0.9483795047070817

*Quiz Question*: Does a higher accuracy value on the training_data always imply that the classifier is better?

In [213]:
significant_words = ['love', 'great', 'easy', 'old', 'little', 'perfect', 'loves', 
      'well', 'able', 'car', 'broke', 'less', 'even', 'waste', 'disappointed', 
      'work', 'product', 'money', 'would', 'return']

In [214]:
vectorizer_word_subset = CountVectorizer(vocabulary=significant_words) # limit to 20 words
train_matrix_word_subset = vectorizer_word_subset.fit_transform(train_data['review_clean'])
test_matrix_word_subset = vectorizer_word_subset.transform(test_data['review_clean'])

In [215]:
model_subset=LogisticRegression()

In [216]:
model_subset.fit(train_matrix_word_subset, train_data['sentiment'])

LogisticRegression()

In [217]:
arr=[[]]
coefi=model_subset.coef_
coefi=coefi[0].tolist()
for i in range(0,len(coefi)):
    arr.append([coefi[i],significant_words[i]])
arr.sort(reverse=True)
print(arr)
# res = np.flipud(ini_array)

[[1.6732691268213737, 'loves'], [1.5102626244861161, 'perfect'], [1.3636967851795179, 'love'], [1.1922194102414563, 'easy'], [0.9439503783239155, 'great'], [0.5201737197772242, 'little'], [0.5037597567342245, 'well'], [0.19093732115767956, 'able'], [0.08542374922026347, 'old'], [0.058813440856458565, 'car'], [-0.20934843852535018, 'less'], [-0.32049065892060963, 'product'], [-0.36215713810512157, 'would'], [-0.5114564623722206, 'even'], [-0.6213073900276674, 'work'], [-0.8980617601668206, 'money'], [-1.6521440244158252, 'broke'], [-2.0344890803328406, 'waste'], [-2.109814548170117, 'return'], [-2.3484775315904693, 'disappointed'], []]

*Quiz Question*: Consider the coefficients of simple_model. How many of the 20 coefficients (corresponding to the 20 significant_words) are positive for the simple_model?

In [218]:
pred_of_test_model=model_subset.predict(test_matrix_word_subset)

In [219]:
pred_of_train_model=model_subset.predict(train_matrix_word_subset)

In [220]:
accuracy_score(train_data['sentiment'],pred_of_train_model)

0.8668225700065959

In [221]:
accuracy_score(test_data['sentiment'],pred_of_test_model)

0.8693604511639069

*Quiz Question*: Which model (sentiment_model or simple_model) has higher accuracy on the TEST set?


*Quiz Question*: Which model (sentiment_model or simple_model) has higher accuracy on the TRAINING set?

# Baseline: Majority class prediction

In [222]:
positive_label = len(test_data[test_data['sentiment']>0])
negative_label = len(test_data[test_data['sentiment']<0])
print ("positive_label is {}, negative_label is {}".format(positive_label, negative_label))

positive_label is 28095, negative_label is 5241

In [224]:
baseline_accuracy = positive_label*1./(positive_label+negative_label)
print ("baseline_accuracy is {}".format(baseline_accuracy))

baseline_accuracy is 0.8427825773938085